
.container{
    flex-direction: column;
    align-items: center;
}


#html5{
    float:left;
    margin: 9px 15px;
    height:30px;
    width:30px;
    
}

.post__header__name {
    font-size: 1.5rem;
    margin-bottom:10px;
    color:black;
    position:relative;
    top: 14px;

    
    
}
.post__header__p{
    margin: top 34px;
    display: inline;
    position:absolute;   
}

#puntos{
    margin:9px 20px;
    height:30px;
    width:10px;
    float:right;
    
    
}


.photo, .CTA, footer, .post__header{
    width: 60vw;
}







#corazon, #compartir{
   
    height:1.875rem;
    width:1.875rem;
}

#bubble{
    
    height:1.5rem;
    width:1.5rem;
}


#guardar{
      
        height:1.875rem;
        width:1.875rem;
        float:right;
    }

